.st0 {
  stroke: #4f4f51;
  stroke-width: 2;
  fill: none;
}
.st01{
  stroke: #14b8a6;
  stroke-width: 2;
  fill: none;
}
.st1 {
  fill: none;
  stroke: #4f4f51;
  stroke-width: 1.5;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}